* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chat-room {
  height: 500px;
}

.send-input {
  position: absolute;
  bottom: 2px;
  /* transform: translateX(-2%); */
}

.message-body {
  height: 70%;
  overflow-y: scroll;
}

.message-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 12px;
  height: 44px;
}

.message img {
  height: 35px;
}

.message-body::-webkit-scrollbar {
  display: none;
}

@media (max-width: 375px) {
  .message-body {
    height: 60%;
  }
}
